@import "_variables";

:root {
  --body-bg: #{$body-bg};
  --primary-dark: #{$primary-dark};
  --primary-cyan: #{$primary-cyan};
  --dark-2: #{$dark-2};
  --light: #{$light};
  --card-bg: #{$card-bg};
  --divider: #{$divider};
  --white: #{$white};

}
